::selection{
    background-color: #ffd15b;
    color: #000;
}

*, *::after , *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 100%;
}
html{
    font-family: EXO , sans-serif;
    scroll-behavior: smooth;
}

.head{
    text-align: center;
}
.head{
    margin-bottom: 48px;
    position: relative;
}
.head::after{
    content: "";
    width: 10%;
    position: absolute;
    height: 10px;
    background-color: #000;
    bottom: -30px;
    left: 45%;
}
.head h2{
    font-size: 41px;
    font-weight: 900;
}
.head p{
    color: #525650;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;
}

.badge{
    font-weight: 700;
    padding: 8px 16px;
    background-color: #000;
    color: #EEE;
    width: fit-content;
    font-size: 14px;
    box-shadow: 4px 4px 0 #000;
    transform: rotate(-2deg);
    margin-bottom: 21px;
    border: 2px solid #000;

}
.badge span{
    color: white;
}

.buttons span{
    padding: 12px 24px;
    text-align: center;
    border: 4px solid #000;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
    box-shadow: 4px 4px #000;
    color: white;
    background-color: #000;
}
.buttons span:hover{
    box-shadow: none;
    transform: translate(4px,4px);
    transition: all 0.2s;
}

.box{
    padding: 24px;
    border: 4px solid #000;
    box-shadow: 4px 4px #000;
}
.box-nh{
    padding: 24px;
    border: 4px solid #000;
    box-shadow: 4px 4px #000;
}
.box:hover{
    box-shadow: 6px 6px #000;
    transform: translate(-5px , -5px);
    transition: all 0.3s;

}

/* **--------------------------------------------------------------------------------------- */
.container{
    width: 100%;
    padding-inline: 20px;
    margin : 0 auto;
    /* background-color: red; */

}

#hero-section{
    min-height: 80vh;
    background-color: #FFF085;
    padding-block: 10px 40px;
}

#hero-section .nav-bar{
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 9999;
}

#hero-section .nav-bar .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #EEE;
    border: 3px solid #000;
    border-radius: 15px;
    margin: 0 auto;
}

#hero-section .nav-bar .nav button{
    display: none;
}

#hero-section .nav-bar .logo span{
    font-size: 22px;
    font-weight: 800;
}

#hero-section .nav-bar .logo .orange{
    color: #FF6900;
}

#hero-section .nav-bar .menu-bars{
    font-size: larger;
    padding: 10px;
    border: 2px solid #000;
    box-shadow: 4px 4px 0 #000;
    transition: all 0.4s;
    border-radius: 4px;
}

#hero-section .nav-bar .menu-bars:hover{
    transform: translate(-3%,-3%);
    transition: all 0.4s;
}

#hero-section .nav-bar .links{
    display: none;
}

/* ?----------------------Hero Section-------------------------- */
#hero-section .hero{
    padding-top: 110px;
}
#hero-section .hero .content{
    display: flex;
    flex-direction: column;
}

#hero-section .hero .content .text .hero-headers{
    margin-bottom: 10px;
}
#hero-section .hero .content .text .hero-headers span{
    font-size: 50px;
    font-weight: 900;
    text-shadow: 3px 3px #33301B;
}
#hero-section .hero .content .text .hero-headers span:nth-of-type(2){
    color: red;
}
#hero-section .hero .content .text .hero-headers span:nth-of-type(3){
    color: #155DFC;
}
#hero-section .hero .content .text .paragraph{
    font-weight: 500;
    font-size: 19px;
    padding: 0px 10px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
    margin-bottom: 24px;
}
#hero-section .hero .content .text .buttons{
    display: flex;
    gap: 8px;
}

#hero-section .hero .content .text .buttons span:nth-of-type(2){
    color: black;
    background-color: white;
}
#hero-section .hero .content .photo{
    border: 4px solid #000;
    box-shadow: 8px 8px #000;
    position: relative;
    transform: rotate(2deg);
    transition: all 0.4s ;
    width: fit-content;

}
#hero-section .hero .content .photo:hover{
    transform: rotate(2deg) translate(-5px, -5px);
    transition: all 0.3s ;
}

#hero-section .hero .content .photo ::after{
    content: "FEATURED";
    position: absolute;
    color: white;
    top: -15px;
    right: -15px;
    padding: 6px 12px;
    background-color: red;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #000;
    transform: rotate(10deg);
    box-shadow: 3px 3px #000;
}

#hero-section .hero .content .photo img{
    width: 100%;
    object-fit: cover;
}

/* ?---------------------------------end of hero section ----------------------*/
/* ?------------------------------------start articles Section ------------------------ */
#articles{
    padding-block: 30px;
    border-top: 4px solid #000;
}
#articles .art {
    display: flex;
    flex-direction: column;
}
#articles .art .left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#articles .art .left .left-head h2{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 35px;
}
#articles .art .left .left-head .badge{
    display: none;
}
#articles .art .left .articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#articles .art .left .card{
    display: flex;
    flex-direction: column;
}

#articles .art .left .card .content .badge{
    padding: 0px 9px;
}

#articles .art .left .one:hover h3{
    color: #E7000B;
}
#articles .art .left .two:hover h3{
    color: #155DFC;
}
#articles .art .left .three:hover h3{
    color: #AD46FF;
}

#articles .art .left .card .content .badge span{
    font-size: 10px;
    color: #000;
}

#articles .art .left .card .image{
    margin-bottom: 20px;
    border: 2px solid #000;
    width: fit-content;
    position: relative;
}
#articles .art .left .card .image::after{
    position: absolute;
    color: white;
    top: -10px;
    right: -10px;
    padding: 3.5px 7px;
    font-size: 11px;
    font-weight: 700;
    border: 2px solid #000;
}
#articles .art .left .one .image::after{
    content: "NEW";
    position: absolute;
    background-color: #E7000B;
    transform: rotate(15deg);


}
#articles .art .left .two .image::after{
    content: "HOT";
    position: absolute;
    background-color: #2B7FFF;
    transform: rotate(-15deg);
}
#articles .art .left .three .image::after{
    content: "VIRAL";
    position: absolute;
    background-color: #AD46FF;
    transform: rotate(50deg);
}
#articles .art .left .card .image img{
    width: 140px;
    height: 112px;

}

#articles .art .left .card .content .issuer{
    display: flex;
    flex-direction: column;
}
#articles .art .left .card .content .issuer span{
    font-size: 12px;
    font-weight: 600;
}
#articles .art .left .load{
    margin: 30px 0;
    transition: all 0.2s;
}
#articles .art .left .load:hover{
    transform: translate(4px,4px);
    transition: all 0.2s;
}

#articles .art .right .trending{
    margin-bottom: 20px;
}

#articles .art .right .trending .content{
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

#articles .art .right .trending .content span{
    font-size: 36px;
    font-weight: 900;
    margin-right: 20px;
}
#articles .art .right .trending h2{
    margin-bottom: 20px;
}
#articles .art .right .trending .content .txt h5{
    font-size: 16px;
    font-weight: 700;
}

#articles .art .right .trending .content .txt p{
    font-size: 12px;
    font-weight: 400;
}
#articles .art .right .trending .one .txt:hover h5{
    color: #E7000B;
}
#articles .art .right .trending .two .txt:hover h5{
    color: #2B7FFF;
}
#articles .art .right .trending .three .txt:hover h5{
    color: #AD46FF;
}
#articles .art .right .categories h2{
    margin-bottom: 20px;

}
#articles .art .right .categories .boxes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#articles .art .right .categories .boxes div{
    padding: 12px 16px;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
    font-weight: 700;
    transition: transform 0.2s, box-shadow 0.2s;
    font-size: 14px;
}
#articles .art .right .categories .boxes div:hover{
    transform: translate(-4px, -4px);
    box-shadow: 6px 6px #000;
}
#articles .art .right .categories .boxes .one{background-color: rgba(255, 223, 32, 0.3);}
#articles .art .right .categories .boxes .two{background-color: rgba(123, 241, 168, 0.3);}
#articles .art .right .categories .boxes .three{background-color: rgba(253, 165, 213, 0.3);}
#articles .art .right .categories .boxes .four{background-color: rgba(135, 193, 255, 0.3);}
#articles .art .right .categories .boxes .five{background-color: rgba(215, 183, 255, 0.3);}

#articles .art .right .categories .boxes .one:hover{background-color: rgba(255, 223, 32, 1);}
#articles .art .right .categories .boxes .two:hover{background-color: rgba(123, 241, 168, 1);}
#articles .art .right .categories .boxes .three:hover{background-color: rgba(253, 165, 213, 1);}
#articles .art .right .categories .boxes .four:hover{background-color: rgba(135, 193, 255, 1);}
#articles .art .right .categories .boxes .five:hover{background-color: rgba(215, 183, 255, 1);}

/* ?---------------------------------------End of articles section -------------------- */

#authors{
    background-color: #FFD230;
    border-block: 4px solid #000;
    padding-block: 80px;
}

#authors .persons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#authors .persons .card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#authors .persons .card:first-child:hover h3{color: #FB2C36; transition: all 0.3s;}
#authors .persons .card:nth-last-child(2):hover h3{color: #2B7FFF; transition: all 0.3s;}
#authors .persons .card:nth-last-child(1):hover h3{color: #AD46FF; transition: all 0.3s;}


#authors .card .image img{
    width: 200px;
}
#authors .card h3{
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 5px;
}
#authors .card .sub{
    font-weight: 700;
    font-size: 14px;
    color: #525252;
    margin-bottom: 5px;
}
#authors .card .paragraph{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}
#authors .card ul{
    display: flex;
    gap: 10px;
    list-style: none;
    padding-left: 0;
}

#authors .card ul li{
    font-size: 15px;
    padding: 5px;
    border: 2px solid #000;
    color: white;
    background-color: #000;
}
#authors .card ul li:hover{
    box-shadow: 5px 5px #000;
    transform: translate(-5px , -5px);
    transition: all 0.4s;
}



#authors .card ul .ln:hover{ background-color: #0A66C2;}
#authors .card ul .insta:hover{ background-color: #FB02AC;}

/* ----------------------------------Community-------------------------- */
#community{
    padding-block: 80px;
    background-color: #FFFFFF;
}
#community .com{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#community .com .benefits{
    margin-bottom: 30px;
}

#community .com .benefits div{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

#community .com .left h3{
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 10px;
}
#community .com .left p{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}


#community .com .benefits div .icon {
    padding: 10px;
    background-color: #000;
    border: 2px solid #000;
    width: fit-content;
}

#community .com .benefits div .icon i{
    color: white;

}
#community .com .benefits div span{
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
}

#community .com .right{
    padding: 40px;
}

#community .com .right h3{
    font-weight: 900;
    font-size: 30px;
    padding: 20px;
}

#community .com .right .card{
    border: 2px solid #000;
    margin-bottom: 20px;
    padding: 16px 24px;
}

#community .com .right .card .person{
    display: flex;
    gap: 20px;
}

#community .com .right .card .person .image{
    border: 1px solid #000;
    height: fit-content;

}

#community .com .right .card .person .image img{
    width: 50px;
}

#community .com .right p{
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;
}

#community .com .right .card .person h4{
    font-weight: 700;
    font-size: 18px;
}
#community .com .right .card .person span{
    font-weight: 400;
    font-size: 10px;
    color: #525252;
}
/* ---------------------------------------Footer---------------------------- */
footer{
    padding-block: 80px 20px;
    background-color: #000;
}
footer .foot{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
footer .row1{
    display: flex;
    flex-direction: column;
}
footer .head{
    display: flex;
    align-items: center;
}
footer .head .icon{
    color: #000;
    padding: 10px;
    background-color: white;
    margin-right: 10px;
}
footer .head .icon i{
    font-size: 30px;
}
footer  p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}
footer .foot h2{
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;


}

footer .row2 ul{
    list-style: none;
    color: white;

}
footer .row2 ul li{
    padding-block: 15px;
}
footer .row2 ul li a{
    list-style: none;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
footer .row2 ul li a:hover{
    color: #FFB509;
    transition: all 0.4s;
    
}

footer .row3 .input input{
    width: 100%;
    border: 1px solid white;
    padding: 16px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

footer .row3 .input input:focus{
    outline: none;
    border: 2px solid #FFB509;
}
footer .row3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .row3  span{
    color: black;
    padding: 16px;
    background-color: #FDC700;
    width: 100%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    transition: all 0.4s;
}

footer .row3  span:hover{
    transform: translate(4px , 4px);
    background-color: #FFB509;
    transition: all 0.4s;
}

footer .copyright{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    border-top: 4px solid white;
}
footer .copyright p{
    display: flex;
}
footer .copyright ul{
    display: flex;
    gap: 20px;
}

footer .copyright ul li a{
    color: white;
    text-decoration: none;
}
footer .copyright ul li a:hover{
    color: #FDC700;
    transition: all 0.4s;
}