*, *::after , *::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 100%;
}
.container{
    width: 100%;
    min-height: 80vh;
    background-color: #FFF085;
    padding-inline: 20px;
    margin : 0 auto;
    background-color: red;

}